# variables

- variables are used to store the data 
- the data can be change
- these variables can be used to manipulate python code

In [1]:
number = 100
# 100 is stored in a variable called as number
number

100

In [2]:
NUMBER=200
NUMBER

200

In [3]:
number,NUMBER

(100, 200)

In [5]:
NUMber=300
NUMber

300

In [6]:
number,NUMBER,NUMber

(100, 200, 300)

In [7]:
number123=400
number123

400

In [8]:
123number=500
123number

SyntaxError: invalid decimal literal (1181908654.py, line 1)

In [9]:
# type enter+tab
number123

400

**note**:
- variables generally in black color
- green color should not be a variable
- numbers as suffix as eork
- numbers as prefix can fail

**note**:
- variables generally in black color
- green color should not be a variable
- numbers as suffix as work
- numbers as prefix can fail

number$=123
number$

 -special characters are not allowed

- special characters are not allowed

In [12]:
number one = 200
number one

SyntaxError: invalid syntax (3656290241.py, line 1)

 - space also variable

number_one=100
number_one

In [13]:
number_one=100
number_one

100

- underscore can use as variable

In [14]:
numberone
number_one

NameError: name 'numberone' is not defined

In [15]:
_number=100
_number

100

In [1]:
_number=200
_number

200

In [2]:
number=100 # true
NUMBER=200 # true
NUMber=100 # true
123number=100 # false
_number=200  # true
number_0ne=400 # true
number 0ne=200 # false
number123=100   # true

SyntaxError: invalid decimal literal (1449742722.py, line 4)

In [ ]:
keywords can not use as variables